<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{page.title}}</title>
<meta name="description" content="東京都荒川区内で基礎からできるバレエ教室。">
<meta name="keywords" content="東京,バレエ教室,荒川区,">
<link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon" />

<link href="//res.primasm.com/css/bootstrap.min.css" rel="stylesheet">
<link href="//res.primasm.com/css/bootstrap-theme.min.css" rel="stylesheet">
<link href="//res.primasm.com/css/bootstrap.icon-large.min.css" rel="stylesheet">
<link href="{{site.baseurl}}/style.css" rel="stylesheet">
<link rel="dns-prefetch" href="http://res.primasm.com/" />
<script src="//res.primasm.com/js/jquery.min.js"></script>
<!--[if lt IE 9]>
      <script src="//res.primasm.com/js/html5shiv.js"></script>
      <script src="//res.primasm.com/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<section class="fullwidth">
<section class="container">
<header>
<section class="title"><h1><a href="{{site.baseurl}}/">まみバレエ教室</a></h1></section>
<p class="description">東京都荒川区内で基礎からできるバレエ教室</p>
</header>
<nav>
<ul class="main-nav">
<li class="page_item"><a href="{{site.baseurl}}/">ようこそ</a></li>
<li class="page_item"><a href="{{site.baseurl}}/whats_ballet/">まみバレエ教室とは？</a></li>
<li class="page_item"><a href="{{site.baseurl}}/class/">クラス</a></li>
<li class="page_item"><a href="{{site.baseurl}}/access/">アクセス</a></li>
<li class="page_item"><a href="{{site.baseurl}}/contact/">お問い合わせ</a></li>
</ul>
</nav>
<section class="row contents">
<section class="offset3 span6">
    {{ content }}
</section>
</section>
</section>
</section>
<section class="container" style="padding-bottom:10px;">
<footer>
<section class="title"><h1><a href="{{site.baseurl}}/">まみバレエ教室</a></h1></section>
<ul class="footer-nav">
<li class="page_item"><a href="{{site.baseurl}}/">ようこそ</a></li>
<li class="page_item"><a href="{{site.baseurl}}/whats_ballet/">まみバレエ教室とは？</a></li>
<li class="page_item"><a href="{{site.baseurl}}/class/">クラス</a></li>
<li class="page_item"><a href="{{site.baseurl}}/access/">アクセス</a></li>
<li class="page_item"><a href="{{site.baseurl}}/contact/">お問い合わせ</a></li>
</ul>
<section id="copyright" class="pull-right">
Copyright© 2009-2015. <a href="/">ballet.primasm.com</a> All rights reserved.
</section>
</footer>
</section>
<script src="//res.primasm.com/js/jquery.nested.js"></script>
<script src="//res.primasm.com/js/bootstrap.min.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34849752-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
	</script>
</body>
</html>
